<app-auth i18n-header="@@resettpassword" header="Reset Password"> 
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="newPassword" i18n="@@newpassword">
      Enter new Password
    </label>
    <mat-form-field appearance="outline">
      <input 
        matInput
        type="password"
        name="newPassword"
        formControlName="newPassword"
      />      
      <mat-error 
      i18n="@@newpassworderror"
      *ngIf="
      !resetPasswordForm.controls.newPassword?.valid &&
      (resetPasswordForm.controls.newPassword?.dirty ||
        resetPasswordForm.controls.newPassword?.touched)">
        Your Password must have at least 6 characters
      </mat-error>
      <mat-hint i18n="@@registerpasswordhint">
        min. 6 characters, at least one digit and upper case letter
      </mat-hint>
    </mat-form-field>
    <label for="confirmPassword" i18n="@@confirmpassword">
      Confirm new Password
    </label>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      <mat-error 
      i18n="@@confirmpassworderror"
      *ngIf="
      !resetPasswordForm.controls.confirmPassword?.valid &&
      (resetPasswordForm.controls.confirmPassword?.dirty ||
        resetPasswordForm.controls.confirmPassword?.touched)">
        Your Password must have at least 6 characters
      </mat-error>
    </mat-form-field>
    <button
      i18n="@@resetpasswordbutton"
      mat-button
      type="submit"
      [disabled]="!resetPasswordForm.valid"
    >
    Reset-Password
    </button>
  </form>
</app-auth>
