<app-auth i18n-header="@@resettpassword" header="Reset Password"> 
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="newPassword">
      Enter new Password
    </label>
    <mat-form-field appearance="outline">
      <input 
        matInput
        type="password"
        name="newPassword"
        formControlName="newPassword"
      />      
    </mat-form-field>
    <label for="confirmPassword">
      Confirm new Password
    </label>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button
      mat-button
      type="submit"
      [disabled]="!resetPasswordForm.valid"
    >
    Reset-Password
    </button>
  </form>
</app-auth>
