<div class="register">
  <mat-toolbar>
    <span>Register</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <label for="eMail" i18n="@@eMail">E-Mail</label><br/>
        <mat-form-field appearance="outline">
          <input 
            matInput
            type="email"
            id="eMail"
            name="eMail"
            formControlName="eMail"
          />
          <mat-error
          i18n="@@eMailerror" 
          *ngIf="
          !registerForm.controls.eMail?.valid &&
          (registerForm.controls.eMail?.dirty ||
          registerForm.controls.eMail?.touched)
          ">
          Please enter a correct E-Mail address
          </mat-error><br/>
        </mat-form-field><br/>

        <label for="username" i18n="@@username">Username</label><br/>
        <mat-form-field appearance="outline">
          <input 
            matInput
            type="text"
            name="username"
            id="username"
            formControlName="username"
          />
          <mat-error
          i18n="@@usernamerrror"
          *ngIf="
          !registerForm.controls.username?.valid &&
          (registerForm.controls.username?.dirty ||
          registerForm.controls.username?.touched)
          ">
          Please enter a correct username 
          </mat-error><br/>
        </mat-form-field><br/>

        <label for="password" i18n="@@password">Password</label><br/>
        <mat-form-field appearance="outline">
          <input 
            matInput
            type="password"
            name="password"
            id="password"
            formControlName="password"
          />
          <mat-error
          @@registerpassworderror 
          *ngIf="
          !registerForm.controls.password?.valid &&
          (registerForm.controls.password?.dirty ||
          registerForm.controls.password?.touched)
          ">
          Please enter a password with at least 8 characters
          </mat-error><br/>
        </mat-form-field><br/>

        <p>
          <button 
            i18n="@@registerbutton"
            mat-button
            type="submit"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>

