@import "/src/assets/theme.scss";

mat-tab-group {
  width: 100%;
}

mat-tab {
  width: 100%;
}
.form-field {
  margin: 1rem;
  border: 1px solid mat-color($border, A200);
  border-radius: 8px;
  width: 89%;
  .textarea {
    height: 10rem;
  }
}
