<mat-tab-group class="mat-tab-group" mat-align-tabs="start">
  <mat-tab label="Edit">
    <mat-form-field class="textarea-form-field" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea
        #textarea
        class="textarea"
        matInput
        placeholder="Description..."
        [(ngModel)]="text"
      ></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Preview">
    <p class="preview" [innerHTML]="text | markdown | async"></p>
  </mat-tab>
</mat-tab-group>
