<app-header header="{{ project?.title }}">
  <button mat-icon-button class="button">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button class="button">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-icon-button class="button">
    <mat-icon>share</mat-icon>
  </button>

  <mat-form-field input class="example-chip-list">
    <mat-chip-list #chipList aria-label="Filter">
      <mat-chip
        [class]="item"
        *ngFor="let item of items"
        (removed)="remove(item)"
      >
        {{ item }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #itemInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</app-header>

<div class="content-wrapper">
  <div class="left">
    <mat-list *ngIf="project" class="list">
      <ng-container *ngFor="let issue of project.issues | orderBy: 'status'">
        <mat-list-item (click)="toggleSelectedIssue(issue)">
          <mat-icon
            [ngClass]="{
              low: issue.priority === 0,
              medium: issue.priority === 1,
              high: issue.priority === 2
            }"
            mat-list-icon
            >assignment</mat-icon
          >
          <a class="title" [routerLink]="issue.id" mat-line>{{
            issue.title | description: 20
          }}</a>
          <div
            [innerHTML]="issue.description | description: 40 | stripMarkdown"
            mat-line
          ></div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <button mat-line mat-flat-button class="add-issue" (click)="openDialog()">
      Add Issue
    </button>
  </div>

  <div *ngIf="currentIssue" class="issue-view">
    <app-issue-view
      (updateIssue)="updateIssue($event)"
      [project]="project"
      [issue]="currentIssue"
    ></app-issue-view>
  </div>
</div>
