mat-list-item {
  cursor: pointer;
  margin: -0.5rem 0;
  mat-icon {
    &.low {
      color: mat-color($primary, 100);
    }
    &.medium {
      color: mat-color($accent, 600);
    }
    &.high {
      color: mat-color($accent, 400);
    }
  }

  .title {
    color: mat-color($primary, 100);
    text-decoration: none;
    width: fit-content;
  }
}
