@import "/src/assets/theme.scss";
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .left {
    width: fit-content;
    .list {
      height: fit-content;
      width: fit-content;
      overflow: auto;
      mat-list-item {
        cursor: pointer;
        margin: -0.5rem 0;
        mat-icon {
          &.low {
            color: #587aac;
          }
          &.medium {
            color: #f6c131;
          }
          &.high {
            color: #e22e4f;
          }
        }

        .title {
          color: #587aac;
          text-decoration: none;
          width: fit-content;
        }
      }
    }

    .add-issue {
      background-color: #ededed;
      color: #666666;
      font-size: 1.1rem;
      line-height: 2.3rem;
      margin-top: 2rem;
      width: 100%;
    }
  }

  .issue-view {
    height: 50rem;
    margin-left: 5rem;
  }
}

.example-chip-list {
  width: 100%;
}

mat-chip {
  &.low {
    color: white !important;
    background-color: mat-color($primary, 100) !important;
  }
  &.medium {
    color: white !important;
    background-color: mat-color($accent, 600) !important;
  }
  &.high {
    color: white !important;
    background-color: mat-color($accent, 400) !important;
  }
}
