<app-auth i18n-header="@@forgotpassword" header="Forgot Password"> 
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="usernameOrEmail" i18n="@@forgotpasswordusernameoremail">
      Enter your Username or Email
    </label>
    <mat-form-field appearance="outline">
      <input
        matInput 
        type="text"
        name="usernameOrEmail"
        formControlName="usernameOrEmail"
      />
      <mat-error
        i18n="@@forgotpasswordusernameoremailerror"
        *ngIf="
          !forgotPasswordForm.controls.usernameOrEmail?.valid &&
          (forgotPasswordForm.controls.usernameOrEmail?.dirty ||
          forgotPasswordForm.controls.usernameOrEmail?.touched)
        "
      >
        Please enter a Username or E-Mail Adress
      </mat-error>
    </mat-form-field>
    <button
        i18n="@@forgotpasswordbutton"
        mat-button
        type="Submit"
        [disabled]="!forgotPasswordForm.valid"
    >
   Request Reset-Password Email
    </button>
  </form>
</app-auth>
