<app-auth i18n-header="@@forgotpassword" header="Forgot Password"> 
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="usernameOrEmail">
      Enter your Username or Email
    </label>
    <mat-form-field appearance="outline">
      <input
        matInput 
        type="text"
        name="usernameOrEmail"
        formControlName="usernameOrEmail"
      />
    </mat-form-field>
    <button
        mat-button
        type="Submit"
        [disabled]="!forgotPasswordForm.valid"
    >
   Request Reset-Password Email
    </button>
  </form>
</app-auth>
