$primary: (
    50 : #587dab,
    100: #587AAC,
    200: #2B5A9C,
    contrast: (
        50 : #ffffff,
        100: #ffffff,
        200: #ffffff,       
    ) 
);

$accent: (
    50 : #e3ece5,
    100: #B7EAC5,
    200: #71D58B,
    300: #54E2AF,
    400: #E22E4F,
    500: #BED8FF,
    600: #F6C131,
    700: #3C42A6,
    800: #3F86EC,
    900: #000000,
    contrast: (
        50 : #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);

$border: (
    50: #FFE3E3,
    100: #DEDEDE ,
    200: #CDCDCD,
    300: #D5D5D6,
    400: #CCCCCC,
    500: #EBEBEB,
    600: #ebecf0,
    700: #BCBCBC,
    800: #797c85,
    900: #707070,
    A100:#00000029,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,  
        A100: #ffffff,
    )
);

$background: (
    50: #ffffff,
    100: #FFE3E3,
    200: #F9F9F9,
    300: #ebecf0,
    400: #EDEDED,
    500: #E4E6EB,
    600: #F4F5F7,
    700: #D5D5D6,
    800: #797c85,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
    )
);

$text-color: (
    50: #4E4E4E,
    100: #404040,
    200: #71839D,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
    )
)


