@import '~@angular/material/theming';
@import './palette';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();



/* ======== Angular material custom themes ======== */

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($primarytheme, 500);
$accent: mat-palette($accenttheme,500);
$warn: mat-palette($mat-red);
$background-color: map_get($backgroundtheme, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

