
label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  color: #797c85;
}

mat-toolbar{
  background-color: #587BAD;
  color: white;
  
}

span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
}

button{
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 80px;
  background-color: #71D58B;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

mat-form-field{
  width: 330px;
  margin-top: -1em;
}

p{
  margin-top: 8px;
}

div{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{  
  font-size: 15px;
}

mat-checkbox{
  font-size: 14px;
  margin-left: 5px;
}

mat-card{
  background-color: #FFFFFF;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #EBECF0;
  border-radius: 1px solid;
  margin-top: 10px;
}

.mat-toolbar{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
